body {
  /* margin-bottom: 100px; */
  background-color: #fff;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
}
.header h1 {
  font-size: 35px;
  color: brown;
}
.flop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
  padding: 30px 0;
}
.link {
  /* display: inline-block; */
  border-left: 1px solid #929292;
}
.flop .img img {
  height: 400px;
  width: 100%;
}
.flop .link li {
  padding: 30px;
  font-size: 18px;
  font-weight: 500;
}
.flop .link .active {
  color: red;
  border-left: 5px solid red;
}
.cnt {
  width: 50%;
}
.flop .cnt h1 {
  font-size: 45px;
  font-weight: 600;
  padding: 20px;
}
.flop .cnt p {
  padding: 20px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
}

@media (max-width: 1020px) {
  .img img {
    display: none;
  }
  .flop .cnt h1 {
    font-size: 30px;
  }
}
