nav {
  display: flex;
  justify-content: space-between;
  margin: 10px 150px;
  position: relative;
}
.top-left p {
  font-size: 18px;
  color: #8d8888;
}
.top-right a {
  text-decoration: none;
  color: #000;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
}
.top-right a:hover {
  color: red;
}
hr {
  width: 80%;
  outline: none;
  margin-left: 10%;
  border: 1px solid #6b5f5f;
}

.navbar-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 13%;
  background-color: #fff;
}
.nav-links ul {
  display: flex;
}
.nav-links li {
  list-style-type: none;
  margin-left: 20px;
  color: #6b5f5f;
  letter-spacing: 1px;
}
.nav-links li:hover {
  color: red;
  cursor: pointer;
}
/* Media Query */

@media (max-width: 1020px) {
  .top-left p {
    font-size: 20px;
  }
  .top-right {
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  nav {
    margin: 10px 50px;
  }
  .navbar-2 {
    margin: 30px 40px;
  }
}
